    <footer>
      <section  id="footerRights">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <p>&copy; {{ .Site.Params.year_start }}-{{ .Site.Params.year_end }} Kassisol</p>
            </div>
          </div>
        </div>
      </section>
    </footer>

    <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="/js/scrolltop.js"></script>

    <script>
/*      jQuery(function($) {
        $(document).scroll(function() {
          if ($(window).scrollTop() > 448 ) {
            $('.navbar').css('background-color', '#ffffff');
            $('.navbar').css('border-bottom', '1px');
          } else {
            $('.navbar').css('background-color', '#255488');
            $('.navbar').css('border-bottom', '0');
          }
        });
        if ($(window).scrollTop() < 448 ) {
          $('.navbar').css('background-color', '#255488');
        }
      }); */
    </script>
  </body>
</html>
