{{ $thispage := .thispage }}

{{ range .menu }}
  {{ if .HasChildren }}
  <a href="#{{ .Identifier }}" class="list-group-item" data-toggle="collapse" data-parent="{{ if eq .Parent "" }}#menu{{ else }}#{{ .Parent }}{{ end }}"{{ if $thispage.HasMenuCurrent "main" . }} aria-expanded="true"{{ end }}>{{ .Name }}<span class="glyphicon glyphicon-chevron-{{ if $thispage.HasMenuCurrent "main" . }}up{{ else }}down{{ end }} pull-right"></span></a>
    <div style="padding-left: 10px;" class="collapse{{ if $thispage.HasMenuCurrent "main" . }} in{{ end }}" id="{{ .Identifier }}">
      {{ partial "menu-sub.html" (dict "menu" .Children "thispage" $thispage) }}
    </div>
  {{ else }}
    <a href="{{ .URL }}" class="list-group-item{{ if $thispage.IsMenuCurrent "main" . }} active{{ end }}">{{ .Name }}</a>
  {{ end }}
{{ end }}
